.cl-bk1 {
  background: #5bd6c9;
}
.cl-bk2 {
  background: #38d5c4;
}
.cl-bk3 {
  background: #23c7b5;
}
.cl-bk4 {
  background: #19ad9d;
}
.cl-bk5 {
  background: #109284;
}
.cl-bk6 {
  background: #09756a;
}
.cl-bk7 {
  background: #05564e;
}
.cl-bk8 {
  background: #013630;
}
.cl-bk9 {
  background: #001311;
}
